@font-face {
  font-family: "Montserrat Light";
  src: url("../webfonts/");
  src: url("../webfonts/?#iefix") format("embedded-opentype"), url("../webfonts/Montserrat-Light.woff") format("woff"), url("../webfonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../webfonts/Montserrat-Regular.eot");
  src: url("../webfonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/Montserrat-Regular.woff") format("woff"), url("../webfonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("../webfonts/Montserrat-Italic.eot");
  src: url("../webfonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/Montserrat-Italic.woff") format("woff"), url("../webfonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../webfonts/Montserrat-Medium.eot");
  src: url("../webfonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../webfonts/Montserrat-Medium.woff") format("woff"), url("../webfonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../webfonts/Montserrat-ExtraBold.eot");
  src: url("../webfonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/Montserrat-ExtraBold.woff") format("woff"), url("../webfonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 0px) and (max-width: 319.9px) {
  .navbar .navbar-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .nav-btn button {
    display: none;
  }
  .navbar .nav-link {
    display: none;
  }
  .navbar .nav-link a {
    display: block;
  }

  .header-main-bg {
    padding: 20px 0 0 0;
  }
  .header-main-bg .header-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-bottom div {
    margin: 0 auto;
    margin-top: 15px;
  }
  .header-main-bg .header-main .left .text-border {
    margin: 0;
  }
  .header-main-bg .header-main .left .upper, .header-main-bg .header-main .left h1, .header-main-bg .header-main .left p {
    text-align: center;
  }
  .header-main-bg .header-main .left h1 {
    font-size: 33px;
  }
  .header-main-bg .header-main .left .btn-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-main .left .btn-row button {
    margin-top: 15px;
  }
  .header-main-bg .header-main .right {
    display: none;
  }

  #learnMore {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #learnMore .flex-left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .flex-left img {
    margin-left: 15px;
  }
  #learnMore .description {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .description .max-area h1, #learnMore .description .max-area p {
    text-align: center;
  }
  #learnMore .description .max-area button {
    margin-left: 50px;
  }

  .awesome {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awesome .awesome-left h1, .awesome .awesome-left p {
    text-align: center;
  }

  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    padding-top: 0;
    margin-top: 0;
  }
  .footer-flex .footer {
    text-align: center;
    width: 100%;
  }
  .footer-flex .footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-flex .footer i {
    margin-right: 3px;
  }
  .footer-flex .footer h3 {
    margin-top: 25px;
  }
  .footer-flex .footer a {
    line-height: 26px;
  }

  .owl-carousel .carousel-item h4 {
    font-size: 18px;
  }
  .owl-carousel .carousel-item p {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479.9px) {
  .navbar .navbar-logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav-btn button {
    display: none;
  }
  .navbar .nav-link {
    display: none;
  }
  .navbar .nav-link a {
    display: block;
  }

  .header-main-bg {
    padding: 20px 0 0 0;
  }
  .header-main-bg .header-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-bottom div {
    margin: 0 auto;
    margin-top: 15px;
  }
  .header-main-bg .header-main .left .text-border {
    margin: 0;
  }
  .header-main-bg .header-main .left .upper, .header-main-bg .header-main .left h1, .header-main-bg .header-main .left p {
    text-align: center;
  }
  .header-main-bg .header-main .left .btn-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-main .left .btn-row button {
    margin-top: 15px;
  }
  .header-main-bg .header-main .right {
    display: none;
  }

  #learnMore {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #learnMore .flex-left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .flex-left img {
    margin-left: 15px;
  }
  #learnMore .description {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .description .max-area h1, #learnMore .description .max-area p {
    text-align: center;
  }
  #learnMore .description .max-area button {
    margin-left: 32%;
  }

  .awesome {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awesome .awesome-left h1, .awesome .awesome-left p {
    text-align: center;
  }

  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    margin-top: 0;
  }
  .footer-flex .footer-item0 .phone {
    font-size: 13px;
  }
  .footer-flex .footer-item0 .location {
    font-size: 13px;
  }
  .footer-flex .footer-item0 a {
    font-size: 13px;
  }
  .footer-flex .footer {
    text-align: center;
    width: 100%;
  }
  .footer-flex .footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-flex .footer i {
    margin-right: 3px;
  }
  .footer-flex .footer h3 {
    margin-top: 25px;
  }
  .footer-flex .footer a {
    line-height: 26px;
  }

  .owl-carousel .carousel-item h4 {
    font-size: 20px;
  }
  .owl-carousel .carousel-item p {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767.9px) {
  .navbar .navbar-logo .icon {
    margin-left: 80px;
  }
  .navbar .nav-btn button {
    margin: 0;
    padding: 0;
    justify-self: flex-end;
    margin-left: 80px;
  }
  .navbar .nav-link {
    display: none;
  }
  .navbar .nav-link a {
    display: block;
  }

  .header-main-bg {
    padding: 20px 0 0 0;
  }
  .header-main-bg .header-bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-bottom div {
    margin: 0 auto;
    margin-top: 15px;
  }
  .header-main-bg .header-bottom .item {
    margin: 0 7px 0 7px;
  }
  .header-main-bg .header-main .left .text-border {
    margin: 0;
  }
  .header-main-bg .header-main .left .upper, .header-main-bg .header-main .left h1, .header-main-bg .header-main .left p {
    text-align: center;
  }
  .header-main-bg .header-main .left .btn-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main-bg .header-main .left .btn-row button {
    margin-top: 15px;
  }
  .header-main-bg .header-main .right {
    display: none;
  }

  #learnMore {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #learnMore .flex-left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .flex-left img {
    margin-left: 15px;
  }
  #learnMore .description {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .description .max-area h1, #learnMore .description .max-area p {
    text-align: center;
  }
  #learnMore .description .max-area button {
    margin-left: 32%;
  }

  .awesome {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awesome .awesome-left h1, .awesome .awesome-left p {
    text-align: center;
  }

  .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer-flex .footer-item0 .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-flex .footer {
    text-align: center;
    width: 100%;
  }
  .footer-flex .footer i {
    margin-right: 3px;
  }
  .footer-flex .footer h3 {
    margin-top: 25px;
  }
  .footer-flex .footer a {
    line-height: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar .navbar-logo .icon .fa-2x {
    display: none;
  }

  .nav-link ul li {
    margin-right: 10px !important;
  }
  .nav-link ul li a span {
    font-size: 15px;
  }

  .header-main .left .text-border .upper {
    font-size: 16px;
  }
  .header-main .left .text-border h1 {
    font-size: 36px;
  }
  .header-main .left .text-border .article {
    font-size: 16px;
  }
  .header-main .left .text-border .btn-row button {
    width: 140px;
    font-size: 13px;
    padding: 13px 15px;
  }

  .header-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-bottom img {
    margin-bottom: 10px;
  }

  #learnMore {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #learnMore .flex-left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .flex-left img {
    margin-left: 15px;
  }
  #learnMore .description {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #learnMore .description .max-area h1 {
    font-size: 26px;
  }
  #learnMore .description .max-area p {
    font-size: 14px;
  }

  .awesome .awesome-left h1 {
    font-size: 29px;
  }
  .awesome .awesome-left p {
    font-size: 14px;
  }

  .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-flex .footer-item0 .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-flex .footer {
    text-align: center;
    width: auto;
  }
  .footer-flex .footer i {
    margin-right: 3px;
  }
  .footer-flex .footer h3 {
    margin-top: 25px;
  }
  .footer-flex .footer a {
    line-height: 26px;
  }

  .owl-carousel .carousel-item h4 {
    font-size: 18px;
  }
  .owl-carousel .carousel-item p {
    font-size: 14px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer-flex .footer-item0 .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-flex .footer {
    width: auto;
  }

  .owl-carousel .carousel-item h4 {
    font-size: 18px;
  }
  .owl-carousel .carousel-item p {
    font-size: 14px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .footer-flex .footer-logo a {
    font-size: 13px;
  }
  .footer-flex .footer-logo .phone {
    font-size: 13px;
  }
  .footer-flex .footer-logo .location {
    font-size: 13px;
  }

  .owl-carousel .carousel-item img {
    width: 40px;
    height: 40px;
  }
  .owl-carousel .carousel-item h4 {
    font-size: 18px;
  }
  .owl-carousel .carousel-item p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-logo .icon .fa-2x {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #020A18;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat Medium", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f550;
}

::-webkit-scrollbar-thumb {
  background: #D6DEE1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A8BBBF;
}

button {
  background-color: #3A68B8;
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}
button:hover {
  background-color: #2753a0;
}

.navbar-bg {
  background-color: #0d182c;
}

#navlink {
  margin-top: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}
#navlink .fa-2x {
  justify-self: flex-end;
}
#navlink a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 18px;
  font-family: "Montserrat Bold", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#navlink a:hover {
  color: #fcdc2c;
  text-decoration: underline;
  background-color: #ffffff30;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
  padding: 8px 0;
  background-color: #0d182c;
  overflow: hidden;
  position: relative;
}
.navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  justify-self: flex-end;
  cursor: pointer;
}
.navbar .navbar-logo .icon {
  display: block;
}
.navbar .navbar-logo .icon .fa-2x {
  color: #fff;
}
.navbar .navbar-logo .icon .fa-2x:hover {
  color: #fcdc2c;
}
.navbar .navbar-logo img {
  width: 32px;
  height: 43px;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar .navbar-logo img:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.navbar .navbar-logo h3 {
  color: #3A68B8;
  font-family: "Montserrat Bold", sans-serif;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navbar .navbar-logo h3:hover {
  color: #ffffff;
}
.navbar .nav-link {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  color: #ffffff;
}
.navbar .nav-link ul {
  list-style-type: none;
}
.navbar .nav-link ul li {
  display: inline-block;
  margin-right: 40px;
}
.navbar .nav-link ul li a {
  text-decoration: none;
  color: #ffffff;
}
.navbar .nav-link .link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}
.navbar .nav-link .link::before, .navbar .nav-link .link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.navbar .nav-link .link::before {
  content: "";
}
.navbar .nav-link .link:hover {
  color: #fcdc2c;
}
.navbar .nav-link .link--elara {
  font-family: aktiv-grotesk-extended, sans-serif;
}
.navbar .nav-link .link--elara::before {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}
.navbar .nav-link .link--elara:hover::before {
  -webkit-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
          transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}
.navbar .nav-link .link--elara span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
.navbar .nav-link .link--elara:hover span {
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
  color: #fcdc2c;
}
.navbar .nav-btn {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}
.navbar .nav-btn button {
  background-color: #3A68B8;
  border: none;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
  width: 130px;
}
.navbar .nav-btn button:hover {
  background-color: #2753a0;
}

.header-main-bg {
  background: #09111f;
  background: -webkit-gradient(linear, left top, left bottom, from(#09111f), to(#09111f));
  background: linear-gradient(180deg, #09111f 0%, #09111f 100%);
  width: 100%;
  padding: 60px 0 1px 0;
}

.header-main {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
}
.header-main .left {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
.header-main .left .text-border {
  max-width: 650px;
  margin-right: 30px;
  -webkit-animation: textborder 0.5s ease;
          animation: textborder 0.5s ease;
}
@-webkit-keyframes textborder {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes textborder {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header-main .left .upper {
  text-transform: uppercase;
  color: #3A68B8;
}
.header-main .left h1 {
  font-size: 45px;
  font-family: "Montserrat Bold", sans-serif;
}
.header-main .left .article {
  font-family: "Montserrat Light", sans-serif;
  margin-bottom: 30px;
}
.header-main .left button {
  margin-right: 20px;
}
.header-main .left .fa-4x {
  padding: 0;
}
.header-main .left .btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-main .left .btn-row .btn-1 {
  width: 170px;
}
.header-main .left .btn-row .btn-with-arrow {
  position: relative;
  width: 170px;
}
.header-main .left .btn-row img {
  position: absolute;
  top: 11px;
  left: 19px;
}
.header-main .right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-main .right img {
  max-width: 100%;
  margin-left: 11%;
  -webkit-animation-name: logoimg;
          animation-name: logoimg;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes logoimg {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logoimg {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-bottom .item {
  margin-right: 10%;
}
.header-bottom img {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-name: logosimg;
          animation-name: logosimg;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes logosimg {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logosimg {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header-bottom img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#learnMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
  color: #ffffff;
}
#learnMore .flex-left {
  margin-right: 30px;
}
#learnMore .flex-left img {
  max-width: 100%;
}
#learnMore .max-area {
  max-width: 500px;
}
#learnMore .max-area h1 {
  font-size: 36px;
  margin: 40px 0;
}
#learnMore .max-area p {
  font-family: "Montserrat Regular", sans-serif;
  margin-bottom: 40px;
}

.carousel {
  margin: 50px 15px 0 15px;
}
.carousel .owl-carousel {
  color: #B4B7BB;
}
.carousel .owl-carousel .owl-nav span {
  display: none;
}
.carousel .owl-carousel .carousel-item {
  background: #0c1422;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c1422), to(#19202d));
  background: linear-gradient(180deg, #0c1422 0%, #19202d 100%);
  margin: 10px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.carousel .owl-carousel .carousel-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.carousel .owl-carousel .carousel-item img {
  width: 80px !important;
  height: 80px;
  margin: 0 auto 7px auto;
}
.carousel .owl-carousel .carousel-item h4 {
  font-size: 20px;
  margin: 20px auto;
}
.carousel .owl-carousel .carousel-item p {
  font-family: "Montserrat Regular", sans-serif;
}

.awesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B4B7BB;
  margin: 90px 5%;
}
.awesome .awesome-left {
  margin-right: 30px;
}
.awesome .awesome-left .text-area {
  max-width: 600px;
}
.awesome .awesome-left h1 {
  color: #fff;
  margin-bottom: 30px;
}
.awesome .awesome-left p {
  margin-bottom: 30px;
}
.awesome .awesome-right img {
  max-width: 100%;
}

footer {
  background: #09111f;
  background: -webkit-gradient(linear, left top, left bottom, from(#09111f), to(#09111f));
  background: linear-gradient(180deg, #09111f 0%, #09111f 100%);
  -webkit-transition: 1s;
  transition: 1s;
}
footer .footer-flex {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 50px 5% 0 5%;
  padding: 100px 0;
}
footer i {
  cursor: pointer;
}
footer i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
footer .footer i {
  margin-bottom: 28px;
  margin-right: 9px;
}
footer .footer i:hover {
  color: #fcdc2c;
}
footer .footer .p {
  margin-bottom: 20px;
  color: #B4B7BB;
}
footer .footer h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
footer .footer p {
  font-family: "Montserrat Regular", sans-serif;
}
footer .footer a {
  text-decoration: none;
  display: block;
  color: #B4B7BB;
  line-height: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer a:hover {
  color: #fcdc2c;
  text-decoration: underline;
  font-family: "Montserrat Bold", sans-serif;
}
footer .footer-item0 {
  width: 25%;
}
footer .footer-item0 a {
  display: inline;
  color: #ffffff;
}
footer .footer-item0 .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .footer-item0 .footer-logo img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
footer .footer-item0 .footer-logo .brandname {
  margin-left: 15px;
  color: #3A68B8;
  font-family: "Montserrat Bold", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer-item0 .footer-logo .brandname:hover {
  color: #fff;
}
footer .footer-item0 .email {
  color: #ffffff;
}
footer .footer-item1 {
  width: 13.3%;
}
footer .footer-item2 {
  width: 13.3%;
}
footer .footer-item3 {
  width: 13.3%;
}
footer .footer-item4 {
  width: 25%;
}
footer .footer-item4 p, footer .footer-item4 i {
  color: #B4B7BB;
}
footer .footer-item4 i {
  margin-bottom: 40px;
}
footer .footer-item4 h3 {
  margin-bottom: 40px;
}
footer .footer-item4 p {
  margin-bottom: 20px;
}
footer .footer-item4 a {
  color: #ffffff;
  margin-bottom: 20px;
}